<p id="notice"><%= notice %></p>

<p>
  <b>City:</b>
  <%= @myzip.city %>
</p>
<p>
  <b>Zip:</b>
  <%= @myzip.state %>
</p>

<p>
  <b>Area Code:</b>
  <%= @myzip.area_code %>
</p>

<p>
  <b>Time Zone:</b>
  <%= @myzip.time_zone %>
</p>

